body {
	font-family: sans-serif;
}

core-toolbar {
	background-color: #009EE3;
	width: 100%;
	text-align:center;
}

[drawer] {
	background-color: #FFFFFF;
}

#title {
	width:500px;
	margin:auto;
	color: #FFFFFF;
	font-size: 30px;
	font-weight: bold;
	text-shadow: rgb(3, 3, 3) 4px 4px 4px;
}

#add_edit_family_member_form {
	min-width: 300px;
	max-width:650px;
	margin: 20px auto;
	background-color: #EEEEEE;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.information{
	width: 450px;
	margin: 10px auto;
}

.information input{
	width: 140px;
	margin-left: 20px;
	padding: 5px;
	background-color: #fff;
	border: 1px solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.information label {
	display: inline-block;
	width: 175px; 
	text-align: right;
}

.information_short{
	width: 450px;
	margin: 10px auto;
}

.information_short input{
	max-width: 60px;
	margin-left: 20px;
	padding: 5px;
	background-color: #fff;
	border: 1px solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.information_short label {
	display: inline-block;
	width: 175px; 
	text-align: right;
}

.true{
        display: none;
}

.false{
	display: block;
	width: 200px;
	margin: 2px auto;
	color: red;
}

.required{
	color: #FF0000;
}

#submit_button_container{
	width: 150px;
	margin: 20px auto;
}

@media screen and (max-width: 600px){
  #title{
  	font-size: 20px;
  }
}

paper-tabs{
	background: #fcfff4; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 85%, #b3bead 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(85%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 85%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfff4 0%,#dfe5d7 85%,#b3bead 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfff4 0%,#dfe5d7 85%,#b3bead 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 85%,#b3bead 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
}
