body {
	font-family: sans-serif;
}

core-toolbar {
	background-color: #009EE3;
	width: 100%;
	text-align:center;
}

[drawer] {
	background-color: #FFFFFF;
}

#familyID{
	display: none;
}

table, td, th {
    border: 1px solid black;
}

#title {
	width:500px;
	margin:auto;
	color: #FFFFFF;
	font-size: 30px;
	font-weight: bold;
	text-shadow: rgb(3, 3, 3) 4px 4px 4px;
}

@media screen and (max-width: 550px){
  #title{
  	font-size: 20px;
  }
}