body {
	font-family: sans-serif;
}

core-toolbar {
	background-color: #009EE3;
	width: 100%;
	text-align:center;
}

[drawer] {
	background-color: #FFFFFF;
}

#title {
	width:200px;
	margin:auto;
	color: #FFFFFF;
	font-size: 30px;
	font-weight: bold;
	text-shadow: rgb(3, 3, 3) 4px 4px 4px;
}

#login_form {
	min-width: 300px;
	max-width:550px;
	margin: 20px auto;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	padding: 5px;
	border: 1px solid #B2B2B2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 4px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 4px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         3px 3px 4px 0px rgba(50, 50, 50, 0.75);
}

fieldset {
	border: 1px solid;
	border-color: #000000;
}

.information{
	width: 90%;
	margin: 10px auto;
}

.information input{
	min-width: 200px;
	max-width: 300px;
	margin-left: 30px;
	padding: 5px;
	background-color: #fff;
	border: 1px solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.information label {
	display: inline-block;
	float: left;
	width: 200px; 
	text-align: right;
}
#login_button_container {
	width: 100px;
	margin: 20px auto;
}

#forgot {
	float: right;
	margin-right: 20px;
}

@media screen and (max-width: 550px){
  #title{
  	font-size: 20px;
  }
}